@font-face {
  font-family: "Pokemon Solid";
  src: local("Pokemon Solid"), url('./pokemon/Pokemon-Solid.ttf') format('ttf');
}

@font-face {
  font-family: "Pokemon Hollow";
  src: local("Pokemon Hollow"), url('./pokemon/Pokemon-Hollow.ttf') format('ttf');
}