.Card {
  margin: 10px;
  width: 300px;
  height: 400px;
  border-radius: 20px;

  header {
    display: flex;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    height: 60px;
    overflow: hidden;
  }

  .Card--number {
    color: white;
    min-width: 60px;
    font-size: 2em;
    padding: 10px;
    border-bottom-right-radius: 15px;
  }

  .Card--name {
    flex: 1;
    font-variant: small-caps;
    letter-spacing: 1px;
    margin-left: -30px;
  }

  img {
    max-width: 200px;
    height: auto;
    margin: 5px;
  }

  .Card--info {

  }

  .Card--stats__stats {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }

  .stat-box {
    padding: 3px;

    &:hover {
      cursor: default;
    }
  }

  .Card--stats__types,
  .Card--stats__size {
    display: flex;

    .stat-box {
      width: 100%;
      flex: 1;
    }
  }

}

