.Searchbar {
  margin: 20px 0;
  display: flex;
  justify-content: flex-end;
}

.Searchbar form {
  display: flex;
  align-items: center;
  margin-right: 45px;
}

.Searchbar__input {
  border: 2px solid orange;
  font-size: 1.125em;
  padding: 15px;
  height: 40px;
}